@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Poppins&display=swap');
:root{
    --border-color:#277BC0;
    --fill-color: #A5F1E9;
}

*{
    box-sizing: border-box;
}

body{
    color:#16213E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    background-color: #E1FFEE;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1{
    margin: 10px 0 0;
    font-family:'Oswald', sans-serif; 
    padding: 30px;
    font-size: 3rem;
    
}

h2{
    margin: 10px 0;
    font-size: 2.5rem;

}

.cup{
    background-color: white;
    border: 4px solid var(--border-color);
    color: var(--border-color) ;
    border-radius: 0 0 40px 40px;
    height: 300px;
    width:150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}
.remained{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: 0.3s ease; 
}

.percentage{
    background-color: var(--fill-color);
    height: 10;
    transition: 0.3s ease;
}

.cup.cup-small{
    width:50px;
    height: 95px;
    background-color: aliceblue;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    align-items: center;
    margin: 5px;
    transition: 0.3s ease;

}

.cup.cup.cup-small.full{
    background-color: var(--fill-color);
    color: white;
}

.cups{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.text{
    text-align: center;
    padding: 30px;
    margin: 0 0 5px;
    font-size: 2.5rem;
}